{% extends 'app/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}Plot Details{% endblock %}
{% block content %}

{% for project in query %}
  <div class="row">
    <div class="col text-center">
      </br>
      <b><h3 class='text-success'>Project Name: {{project.project_name}}</h3></b></br>
      <b><h3 class='text-success'>Plot Number: {{project.plot_no}}</h3></b></br>
    </div>
    </br>
  </div>
{% endfor %}
  <div class='row border'>
        <div class='col-md-4'>
          {% for object in query %}
            <b><h3 class='text-success'>User Personal Details: </h3></b></br>
            <b><h5 class="text-black-50">Name : {{ object.plot_no.first_name }} {{ object.plot_no.last_name }}</h5></b>
            <h5 class="text-black-50">Land Extent :  {{ object.plot_no.land_extent }}</h5>
            <h5 class="text-black-50">Address : {{ object.plot_no.address }}</h5>
            <h5 class="text-black-50">City :  {{ object.plot_no.city }}</h5>
            <h5 class="text-black-50">District :{{ object.plot_no.district }}</h5>
            <h5 class="text-black-50">State :  {{ object.plot_no.state }}</h5>
            <h5 class="text-black-50">Zip :  {{ object.plot_no.pincode }}</h5>
          {% endfor %}
        </div>
      <div class='col-md-4'>
          {% for object in query %}
          <b><h3 class='text-success'>User Plot Details:</h3></b></br>
          <h5 class="text-black-50">Aadhar No : {{ object.aadhar_no }}</h5>
          <h5 class="text-black-50">Katha No : {{ object.katha_no }}</h5>
          <h5 class="text-black-50">Passbook No : {{ object.new_passbook_no }}</h5>
          <h5 class="text-black-50">Document No : {{ object.document_no }}</h5>
          <h5 class="text-danger"><u>Note :</u> {{ object.Note }}</h5>
          {% endfor %}
      </div>
      
      <div class='col-md-4'>
          {% for object in query %}
              <h5 class="text-success"><b><u>Pass Photo :</u></b></br>
                <a href="{{ object.pass_photo.url }}" target="_blank">
                  <img src="{{ object.media_url }}{{ object.pass_photo.url }}" class='col-md-3 img-fluid border border-dark h-25 w-50' alt='aadhar photo'>
                </a>
              </h5>
            </br>
              <h5 class="text-success"><b><u>Passbook photo :</u></b></br>
                <a href="{{ object.passbook_photo.url }}" target="_blank">
                  <img src="{{ object.media_url }}{{ object.passbook_photo.url }}" alt='passbook photo' class='col-md-3 border border-dark h-25 w-50 img-fluid'>
                </a>
              </h5>
          {% endfor %}
      </div>
    </div>
    
      <div class='row'>
        <h5 class="text-success"><b><u>Document Photos :</u></b></h5></br>
        {% for objects in query1 %} 
        <a target="_blank" href="{{ objects.document_photos.url }}">
            <img src="{{ objects.media_url }}{{ objects.document_photos.url }}" alt='documents photo' class=" border border-3 border-dark h-75 w-50">
        </a> 
        {% endfor %}
      </div>  
</div>
</br>
{% endblock %}