{% extends 'app/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}Plot Details{% endblock %}
{% block content %}
<style>
img {
  pointer-events: none;
}
</style>
{% for project in query %}
  <div class="row">
    <div class="col text-center">
      </br>
      <b><h3 class='text-success'>Project Name: {{project.project_name}}</h3></b></br>
      <b><h3 class='text-success'>Plot Number: {{project.plot_no}}</h3></b></br>
    </div>
    </br>
  </div>
{% endfor %}
  <div class='row border'>
        <div class='col-md-4'>
          {% for object in query %}
            <b><h3 class='text-success'>User Personal Details: </h3></b></br>
            <b><h5 class="text-black-50">Name : {{ object.plot_no.first_name }} {{ object.plot_no.last_name }}</h5></b></br>
            <h5 class="text-black-50"><b>Land Extent :  </b>{{ object.plot_no.land_extent }}</h5></br>
            <h5 class="text-black-50"><b>Address : </b>{{ object.plot_no.address }}</h5></br>
            <h5 class="text-black-50"><b>City :  </b>{{ object.plot_no.city }}</h5></br>
            <h5 class="text-black-50"><b>District : </b>{{ object.plot_no.district }}</h5></br>
            <h5 class="text-black-50"><b>State :  </b>{{ object.plot_no.state }}</h5></br>
            <h5 class="text-black-50"><b>Zip :  </b>{{ object.plot_no.pincode }}</h5></br>
          {% endfor %}
        </div>
      <div class='col-md-4'>
          {% for object in query %}
          <b><h3 class='text-success'>User Plot Details:</h3></b></br>
          <h5 class="text-black-50"><b>Aadhar No : </b>{{ object.aadhar_no }}</h5></br>
          <h5 class="text-black-50"><b>Katha No : </b>{{ object.katha_no }}</h5></br>
          <h5 class="text-black-50"><b>Passbook No : </b>{{ object.new_passbook_no }}</h5></br>
          <h5 class="text-black-50"><b>Document No : </b>{{ object.document_no }}</h5></br>
          <h5 class="text-danger"><u>Note :</u> {{ object.Note }}</h5></br>
          {% endfor %}
      </div>
      
      <div class='col-md-4'>
          {% for object in query %}
              <h5 class="text-success"><b><u>Pass Photo :</u></b></br>
                <a href="{{ object.pass_photo.url }}" target="_blank" oncontextmenu="return false;">
                  <img src="{{ object.media_url }}{{ object.pass_photo.url }}" class='col-md-3 img-fluid border border-dark h-25 w-50' alt='aadhar photo'>
                </a>
              </h5>
            </br>
              <h5 class="text-success"><b><u>Passbook photo :</u></b></br>
                <a href="{{ object.passbook_photo.url }}" target="_blank" oncontextmenu="return false;">
                  <img src="{{ object.media_url }}{{ object.passbook_photo.url }}" alt='passbook photo' class='col-md-3 border border-dark h-25 w-50 img-fluid'>
                </a>
              </h5>
          {% endfor %}
      </div>
    </div>
    <!---
      <div class='row'>
        <h5 class="text-success"><b><u>Document Photos :</u></b></h5></br>
        {% for objects in query1 %} 
        <a target="_blank" href="{{ objects.document_photos.url }}" oncontextmenu="return false;">
            <img src="{{ objects.media_url }}{{ objects.document_photos.url }}" alt='documents photo' class=" border border-3 border-dark h-75 w-50">
        </a> 
        {% endfor %}
      </div>  
      ---->



<h5 class="text-success"><b><u>Document Photos :</u></b></h5></br>
<div id="my-modal" class="modal fade" aria-labelledby="my-modalLabel" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog" data-dismiss="modal">
            <div class="modal-content"  >              
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <img src="" class="img-responsive gallery" style="width: 100%; height:100%">
                </div> 
            </div>
        </div>
    </div>
</div>
{% for objects in query1 %} 
<img class="show-img" src="{{ objects.media_url }}{{ objects.document_photos.url }}" style="width: 255px;">
{% endfor %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(".show-img").hover(function(){
            $('.gallery').attr('src', $(this).attr('src'));
            $('#my-modal').modal('show');
        });
    </script>
</br>
{% endblock %}