{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block content %}</br>
<style>
.inacres{
   /* background: url(https://cdn.pixabay.com/photo/2017/08/04/09/39/indian-cow-2579534_960_720.jpg);*/
   background: url({% static 'app/img/farm-09.jpg' %});
    height: 600px;
    
}
</style>
<div class='container'>
<img src='{% static 'app/img/newlogo.png' %}' class='img-fluid col col-sm-12' alt='inacres image'></img>

<div class='inacres'>
<div class="row">
<div class='col col-md-12 text-center text-white'><h2>Welcome to InAcres Central Database</h2>
<h3> Lets Farm Together</h3></div>
</div></br>
{% if user.is_authenticated %}
<a href='{% url 'app:sites' %}' type="button" class="btn btn-warning text-success d-grid col-6 mx-auto" ><b> View Sites </b></a>
{% else %}
<a href='{% url 'app:login' %}' type="button" class="btn btn-warning text-success d-grid col-6 mx-auto" ><b> Login to Admin Dashboard </b></a></br>
{% endif %}</br></br>
</div></br></div>

{% endblock %}
