{% extends 'app/base.html' %}
{% load static %}

{% load bootstrap5 %}
{% block title %}Plots Available{% endblock %}
{% block content %}
<div class="row">
<div class='col-md-2'></div>
<div class='col-md-8'>
<table class='table table-bordered'>
{% for item in query %}
{% if subquery %}
{% if subquery.post == item.plots %}
<tr class='table-danger'>
{{ item.plots }}
</tr>
{% endif %}
{% else %}
<tr class='table-success'>
{{ item.plots }}
</tr>
{% endif %}
{% endfor %}
</table></div>
<div class=col-md-2></div>
</div>
{% endblock %}