{% extends 'app/base.html' %}
{% load static %}

{% load bootstrap5 %}
{% block title %}Plots Available{% endblock %}
{% block content %}
<div class="row">
<div class='col-md-2'></div>
<div class='col-md-8'>
{% for item in query %}
<table class='table table-bordered'>
{% if subquery.checked == True %}

<tr class='table-danger'>
{{ subquery.item.plots }}
</tr>
{% else %}
<tr class='table-success'>
{{ subquery.item.plots }}
</tr>
{% endif %}
</table>

{% endfor %}
</div>
<div class=col-md-2></div>
</div>
{% endblock %}